* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  justify-content: center;
  align-items: center;
  background-image: url("img/header-background.avif");
  height: 100px;
  color: rgb(207, 200, 200);
}

.input-container {
  justify-content: center;
  gap: 35px;
  margin-bottom: 15px;
}

.add-button {
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  border: 5px solid gray;
  border-radius: 10px;
}

.add-button:hover {
  color: red;
  width: 110px;
}

.to-do-input {
  border: 5px solid gray;
  border-radius: 10px;
}

.list-container {
  align-items: center;
  flex-direction: column;
}

.checkbox:checked + label {
  color: red;
  text-decoration: line-through;
}

ul {
  flex-direction: column;
  list-style-type: none;
}

.remove-button {
  font-size: 13px;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.main-container {
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 10px solid black;
  border-radius: 70px;
  transition: 2s;
  width: 40%;
  margin-top: 30px;
  min-height: 500px;
}
